:root{
    --primary-color: #2786CF;
    --dark-gray:#5E5E5E;

}

html, body{
    margin: 0;
    font-family: 'Poppins';
}


.topbar{
    background: linear-gradient( to right, #1C415C, #1A727C);
    padding: 1em 3em;
    justify-content: center;
    align-content: center;

    .left-col{
        a{
            color: white;
            text-decoration: none;
        }
    }
    
}

.has-icons-left{
    a{
        font-size: 1.2em;
        padding-left: 1em;
        font-weight: bold;
    }
}

.level-item{
    padding: 1em;
}

.trendsitem{
    padding-bottom: 1em;
}

.card{
    box-shadow: none;
    padding-bottom: 0.5em;
    margin-bottom: 0.5em;
    button{
        font-size: 0.8em;
    }
}

.nav-item{
    padding: 0.5em;
}
