<div id="changePassword">
    <section class="hero">
        <div class="login-form">
            <h3>Change Password</h3>
            <% if (hasErrors) {%>
                <div class="error">
                    <% messages.forEach(function(message){ %>
                        <p>
                            <%= message %>
                        </p>
                        <% }); %>
                </div>
                <% } %>
                    <form class="form" action="/changePassword" method="POST">
                        <div class="form-item">
                            <label class="input-label" for="password">Password*</label>
                            <input v-model="password" @change="checkPassword" type="password" name="password" required>
                            <p v-show="showPwdError" class="error">
                                The password can only and have one of each of the following a-z, A-Z, and 0-9.
                            </p>
                        </div>
                        <div class="form-item">
                            <label class="input-label" for="confirmPassword">Confirm Password*</label>
                                <input v-model="confirmPassword" @change="checkConfirmPassword" type="password" name="confirmPassword" required>
                                <p v-show="showConfPwdError" class="error">Confirm password does not match your
                                    password.
                                </p>
                        </div>

                        <div class="form-col"></div>

                        <input type="submit" class="btn-submit" value="Change Password">
                    </form>
        </div>
    </section>
</div>